
.container {
  width: 94vw;
  height: 100vh;
}

.inputContainer {
  display: flex;
  align-items: flex-end;

  .input {
    border-radius: 6px;
    font-size: small;
    color: aliceblue;
    min-height: 40px;
    background-color: #595959;
    margin-top: 12px;
    width: 86vw;
    padding: 0 8px;
  } 
}

.loading {
  font-size: 24px;
}
